// Setup SCSS
/* Setup SCSS */
// theme color : #B77E75

// 配色指定
$main-color: #B77E75;
$sub1-color: #B47388;
$sub2-color: #B170A2;
$acnt-color: #79865E;
$footer-color: #999;
$footer-a-color: #FFF;

// プレフィックス指定
$PREFIX_TYPES: -webkit-, -moz-, -ms-, -o-, '';
@mixin prefix_set($type, $val) {
 @each $prefix in $PREFIX_TYPES {
  #{$prefix}#{$type}: $val;
 }
}
$PRO_PREFIX: -webkit-, -moz-, -ms-, '';
@mixin pro_prefix_set($type, $val) {
 @each $prefix in $PRO_PREFIX {
  #{$type}: #{$prefix}$val;
 }
}
