@charset "UTF-8";
/* Navigation CSS */

@import "_setup";

nav {
 ul li {
  display:inline-block;
  a {
   color:#755;
   text-decoration:none;
   display:block;
  }
 }
 &#main {
  width: 100%; height: auto; min-height: 5em;
  background-color: $sub1-color;
  color:#755; font-size: 1vw; text-align:center;
  z-index: 999;
  * {
   @include prefix_set(transition, all 0.4s);
  }
  ul {
   position: absolute;
   top: 0;
   width: 100%;
   padding: 0;
   text-align: center;
   list-style: none;
   display: flex;
   li {
    flex: 1;
    background-color: #333; color: #FFF;
    border-bottom: 1px solid $sub1-color;
    a {
     @include pro_prefix_set(background, linear-gradient(-170deg, #FFF, $main-color));
     padding:1em;
     &:hover {
      @include pro_prefix_set(background, linear-gradient(10deg, #FFF, $main-color));
      color:#B55;
     }
    }
    &.home {
     flex: 0.5; background-color: #FFF;
     a {
      @include pro_prefix_set(background, linear-gradient(10deg, #FFF, $main-color));
      &:hover {
       @include pro_prefix_set(background, linear-gradient(0deg, $sub1-color, #000));
       color: #FFF;
       text-shadow: 0 1px 1px #000;
      }
     }
     &:hover { background-color: #999; }
    }
    &.more {
     position: relative;
     padding: 1em 0;
     background-color: #555;
     text-shadow: 0 1px 1px #000;
     display: none;
    }
    &:hover > ul { width: 100vw; height: auto; opacity: 1; }
   }
   ul {
    position: absolute;
    right: 0; top: 100%;
    padding-top: 1em;
    width: 0; height: 0;
    text-shadow: 0 1px 1px #FFF;
    overflow: hidden;
    opacity: 0;
    display: none;
    &::before {
     position: absolute;
     right: 8%; top: 0.25em;
     width: 1.4em; height: 1.4em;
     background-color: #999;
     content: "";
     @include prefix_set(transform, rotate(-45deg));
    }
    li {
     position: relative;
     width: 100%;
     display: none;
     background-color: #999;
     a {
      font-size: 1rem;
      background: #FFF;
      &:hover { background: $sub1-color; color: #FFF; text-shadow: 0 1px 1px #000; }
     }
     &:nth-child(1) {
      height: 4px;
      font-size: 0; line-height: 0;
      display: block;
     }
     &:nth-child(even) a {
      background-color: #EEE;
      &:hover { background: $sub2-color; }
     }
    }
   }
  }
 }
} // nav
header {
 nav {
  position:absolute;
  top:50%; right:0;
  margin-top:-0.5em;
  font-size:0.8em;
  ul li {
   padding:0 1em; border-left:1px solid $sub1-color;
  } // header nav ul li
 } // header nav
} // header
.icons {
 position: relative;
 margin: 0 auto; padding: 0;
 width: 20px; height: 20px;
 overflow: hidden;
 display: block;
}
.toggle-icon {
 background-color: transparent;
 span {
  position: absolute;
  left: 50%;
  width: 142%; height: 2px;
  margin-left: -10px;
  background-color: #FFF;
  font-size: 0; line-height: 0;
  display: block;
  &:first-child { top: 2px; }
  &:nth-child(2) { top: 50%; margin-top: -1px; }
  &:last-child { bottom: 2px; }
 }
}
nav#main ul li.more:hover > .toggle-icon span:first-child {
 @include prefix_set(transform, translateX(-4px) translateY(7px) rotate(-45deg));
}
nav#main ul li.more:hover > .toggle-icon span:nth-child(2) {
 opacity: 0;
}
nav#main ul li.more:hover > .toggle-icon span:last-child {
 @include prefix_set(transform, translateX(-4px) translateY(-7px) rotate(45deg));
}

/*------------------------------
- TOP DOWN - ( PC -> Mobile )
------------------------------*/

@media screen and (max-width: 768px) {
 /* - Mobile Landscape & Tablet Portrait */
 nav#main {
  ul {
   li.more { display: block; }
   li:nth-child(6) { display: none; }
   ul {
    display: block;
    li:nth-child(6) { display: block; }
   }
  }
 }
} /* /- Mobile Landscape & Tablet portrait */
@media screen and (max-width: 768px) and (orientation: landscape) {
  /* Mobile Landscape */
} /* /Mobile Landscape */
@media screen and (max-width: 560px) {
 nav#main ul {
  li { width: 22vw;
   &:nth-child(5) { display: none; }
   &.home { width: 12vw; }
  }
  ul::before { right: 10vw; }
  ul li:nth-child(5) { display: block; }
 }
}
@media screen and (max-width: 440px) {
 nav#main ul {
  li {
   width: 25%;
   &:nth-child(4) { display: none; }
   &.home { width: 12.5%; }
  }
  ul::before { right: 12.5%; }
  ul li:nth-child(4) { display: block; }
 }
}
@media screen and (max-width: 414px) {
 /* Mobile L Portrait */
} /* /Mobile L Portrait */
@media screen and (max-width: 360px) {
 nav#main ul li {
  width: 28%;
  &.home { width: 16%; }
  ul {
   &::before { right: 14%; }
  }
 }
}

/***********************************
 end of Responsive Setup
***********************************/
