/* Navigation CSS */
/* Setup SCSS */
nav ul li {
  display: inline-block; }
  nav ul li a {
    color: #755;
    text-decoration: none;
    display: block; }
nav#main {
  width: 100%;
  height: auto;
  min-height: 5em;
  background-color: #B47388;
  color: #755;
  font-size: 1vw;
  text-align: center;
  z-index: 999; }
  nav#main * {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  nav#main ul {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    list-style: none;
    display: flex; }
    nav#main ul li {
      flex: 1;
      background-color: #333;
      color: #FFF;
      border-bottom: 1px solid #B47388; }
      nav#main ul li a {
        background: -webkit-linear-gradient(-170deg, #FFF, #B77E75);
        background: -moz-linear-gradient(-170deg, #FFF, #B77E75);
        background: -ms-linear-gradient(-170deg, #FFF, #B77E75);
        background: linear-gradient(-170deg, #FFF, #B77E75);
        padding: 1em; }
        nav#main ul li a:hover {
          background: -webkit-linear-gradient(10deg, #FFF, #B77E75);
          background: -moz-linear-gradient(10deg, #FFF, #B77E75);
          background: -ms-linear-gradient(10deg, #FFF, #B77E75);
          background: linear-gradient(10deg, #FFF, #B77E75);
          color: #B55; }
      nav#main ul li.home {
        flex: 0.5;
        background-color: #FFF; }
        nav#main ul li.home a {
          background: -webkit-linear-gradient(10deg, #FFF, #B77E75);
          background: -moz-linear-gradient(10deg, #FFF, #B77E75);
          background: -ms-linear-gradient(10deg, #FFF, #B77E75);
          background: linear-gradient(10deg, #FFF, #B77E75); }
          nav#main ul li.home a:hover {
            background: -webkit-linear-gradient(0deg, #B47388, #000);
            background: -moz-linear-gradient(0deg, #B47388, #000);
            background: -ms-linear-gradient(0deg, #B47388, #000);
            background: linear-gradient(0deg, #B47388, #000);
            color: #FFF;
            text-shadow: 0 1px 1px #000; }
        nav#main ul li.home:hover {
          background-color: #999; }
      nav#main ul li.more {
        position: relative;
        padding: 1em 0;
        background-color: #555;
        text-shadow: 0 1px 1px #000;
        display: none; }
      nav#main ul li:hover > ul {
        width: 100vw;
        height: auto;
        opacity: 1; }
    nav#main ul ul {
      position: absolute;
      right: 0;
      top: 100%;
      padding-top: 1em;
      width: 0;
      height: 0;
      text-shadow: 0 1px 1px #FFF;
      overflow: hidden;
      opacity: 0;
      display: none; }
      nav#main ul ul::before {
        position: absolute;
        right: 8%;
        top: 0.25em;
        width: 1.4em;
        height: 1.4em;
        background-color: #999;
        content: "";
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      nav#main ul ul li {
        position: relative;
        width: 100%;
        display: none;
        background-color: #999; }
        nav#main ul ul li a {
          font-size: 1rem;
          background: #FFF; }
          nav#main ul ul li a:hover {
            background: #B47388;
            color: #FFF;
            text-shadow: 0 1px 1px #000; }
        nav#main ul ul li:nth-child(1) {
          height: 4px;
          font-size: 0;
          line-height: 0;
          display: block; }
        nav#main ul ul li:nth-child(even) a {
          background-color: #EEE; }
          nav#main ul ul li:nth-child(even) a:hover {
            background: #B170A2; }

header nav {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.5em;
  font-size: 0.8em; }
  header nav ul li {
    padding: 0 1em;
    border-left: 1px solid #B47388; }

.icons {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: block; }

.toggle-icon {
  background-color: transparent; }
  .toggle-icon span {
    position: absolute;
    left: 50%;
    width: 142%;
    height: 2px;
    margin-left: -10px;
    background-color: #FFF;
    font-size: 0;
    line-height: 0;
    display: block; }
    .toggle-icon span:first-child {
      top: 2px; }
    .toggle-icon span:nth-child(2) {
      top: 50%;
      margin-top: -1px; }
    .toggle-icon span:last-child {
      bottom: 2px; }

nav#main ul li.more:hover > .toggle-icon span:first-child {
  -webkit-transform: translateX(-4px) translateY(7px) rotate(-45deg);
  -moz-transform: translateX(-4px) translateY(7px) rotate(-45deg);
  -ms-transform: translateX(-4px) translateY(7px) rotate(-45deg);
  -o-transform: translateX(-4px) translateY(7px) rotate(-45deg);
  transform: translateX(-4px) translateY(7px) rotate(-45deg); }

nav#main ul li.more:hover > .toggle-icon span:nth-child(2) {
  opacity: 0; }

nav#main ul li.more:hover > .toggle-icon span:last-child {
  -webkit-transform: translateX(-4px) translateY(-7px) rotate(45deg);
  -moz-transform: translateX(-4px) translateY(-7px) rotate(45deg);
  -ms-transform: translateX(-4px) translateY(-7px) rotate(45deg);
  -o-transform: translateX(-4px) translateY(-7px) rotate(45deg);
  transform: translateX(-4px) translateY(-7px) rotate(45deg); }

/*------------------------------
- TOP DOWN - ( PC -> Mobile )
------------------------------*/
@media screen and (max-width: 768px) {
  /* - Mobile Landscape & Tablet Portrait */
  nav#main ul li.more {
    display: block; }
  nav#main ul li:nth-child(6) {
    display: none; }
  nav#main ul ul {
    display: block; }
    nav#main ul ul li:nth-child(6) {
      display: block; } }
/* /- Mobile Landscape & Tablet portrait */
@media screen and (max-width: 768px) and (orientation: landscape) {
  /* Mobile Landscape */ }
/* /Mobile Landscape */
@media screen and (max-width: 560px) {
  nav#main ul li {
    width: 22vw; }
    nav#main ul li:nth-child(5) {
      display: none; }
    nav#main ul li.home {
      width: 12vw; }
  nav#main ul ul::before {
    right: 10vw; }
  nav#main ul ul li:nth-child(5) {
    display: block; } }
@media screen and (max-width: 440px) {
  nav#main ul li {
    width: 25%; }
    nav#main ul li:nth-child(4) {
      display: none; }
    nav#main ul li.home {
      width: 12.5%; }
  nav#main ul ul::before {
    right: 12.5%; }
  nav#main ul ul li:nth-child(4) {
    display: block; } }
@media screen and (max-width: 414px) {
  /* Mobile L Portrait */ }
/* /Mobile L Portrait */
@media screen and (max-width: 360px) {
  nav#main ul li {
    width: 28%; }
    nav#main ul li.home {
      width: 16%; }
    nav#main ul li ul::before {
      right: 14%; } }
/***********************************
 end of Responsive Setup
***********************************/
