@charset "UTF-8";
/* Responsive CSS */

@import "_setup";

html, body {
 width: 100%;
 overflow-x: hidden;
}
<<<<<<< HEAD
body {
 font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
}
=======
body { font-size: calc(112.5% + 4 * (100vw - 600px) / 400); }
>>>>>>> origin/master
#common-header {
	background: -webkit-linear-gradient(
		bottom,
		transparent,
		#FFF 100%,
		#FFF 0%,
		transparent
	);
	background-image: linear-gradient(
		to top,
		transparent,
		#FFF 100%,
		#FFF 0%,
		transparent
	);
	opacity: 0.6;
 @include prefix_set(transition, all 1s);
	#logo {
		svg {
			path, path#p1, path#p2 {
				fill: #FFF; opacity: 1;
    @include prefix_set(transition, all 1s);
			}
		}
	}
 nav { display: none; }
}
main {
	.container {
  min-width: 320px; width: 100%;
		.contents { width: 100%; }
		.side { width: 100%; }
	}
}
aside { font-size: 100%; }

/* other class */

.mc-wrap {
	opacity: 0; display: none; visibility: hidden;
}
.flexbox { display: block; }
.sticky { position: relative; }

/* portrait view */
@media screen and (orientation: portrait) {
<<<<<<< HEAD
 body {
  font-size: 100%;
 }
=======
 body { font-size: 100%; }
>>>>>>> origin/master
 .pc { display: none; visibility: hidden; }
 #common-header #logo { margin: 0 auto; padding: 1em 0; display: table; }
 #common-footer{
  text-align: center;
  small { margin: 0 auto; padding: 0; display: block; }
  small.pc { display: none; }
  nav {
   @extend small; border: none;
   ul li { margin-top: 1em; }
  }
 }
	.mc-wrap {
	opacity: 0; display: none; visibility: hidden;
	}
	.golden.ratio {
		background-image: url(../img/bg/golden-ratio-portrait.svg);
	} .golden.spiral {
		background-image: url(../img/bg/golden-spiral_90.svg);
	} .golden.five-star {
		background-image: url(../img/bg/five-star-portrait.svg);
	}
} /* /- portrait view */
