/* Responsive CSS */
/* Setup SCSS */
html, body {
  width: 100%;
  overflow-x: hidden; }

body {
  font-size: calc(112.5% + 4 * (100vw - 600px) / 400); }

#common-header {
  background: -webkit-linear-gradient(bottom, transparent, #FFF 100%, #FFF 0%, transparent);
  background-image: linear-gradient(to top, transparent, #FFF 100%, #FFF 0%, transparent);
  opacity: 0.6;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  #common-header #logo svg path#ar, #common-header #logo svg path#a1, #common-header #logo svg path#a2, #common-header #logo svg path#a3, #common-header #logo svg path#a4 {
    fill: #FFF;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  #common-header #logo svg path#a1, #common-header #logo svg path#a2, #common-header #logo svg path#a3, #common-header #logo svg path#a4 {
    opacity: 0.5; }
  #common-header #logo svg path#ar {
    opacity: 1; }
  #common-header nav {
    display: none; }

main .container {
  min-width: 320px;
  width: 100%; }
  main .container .contents {
    width: 100%; }
  main .container .side {
    width: 100%; }

/* other class */
.mc-wrap {
  opacity: 0;
  display: none;
  visibility: hidden; }

.flexbox {
  display: block; }

.sticky {
  position: relative; }

/* portrait view */
@media screen and (orientation: portrait) {
  body {
    font-size: 100%; }

  .pc {
    display: none;
    visibility: hidden; }

  #common-header #logo {
    margin: 0 auto;
    padding: 1em 0;
    display: table; }

  #common-footer {
    text-align: center; }
    #common-footer small, #common-footer nav {
      margin: 0 auto .75em;
      padding: 0;
      display: block; }
    #common-footer small.pc, #common-footer nav.pc {
      display: none; }
    #common-footer nav {
      border: none; }

  .mc-wrap {
    opacity: 0;
    display: none;
    visibility: hidden; }

  .golden.ratio {
    background-image: url(../img/bg/golden-ratio-portrait.svg); }

  .golden.spiral {
    background-image: url(../img/bg/golden-spiral_90.svg); }

  .golden.five-star {
    background-image: url(../img/bg/five-star-portrait.svg); } }
/* /- portrait view */
