@charset "UTF-8";
/* Global CSS */

html, body { /* theme-color: #5533BB; */ }

a { text-decoration:none; outline:none; }

#wrap {
	position: relative;
  width: 100%;
  min-height: 100%;
	overflow-x: hidden;
}

#common-header {
	position:fixed;
	left: 0; top: 0;
	width: 100%;
	background: -webkit-linear-gradient(
		bottom,
    transparent,
    #000 100%,
    #000 0%,
    transparent
  );
  background-image: linear-gradient(
    to top,
    transparent,
    #000 100%,
    #000 0%,
    transparent
  );
	z-index: 1;
} #common-header #logo {
	padding: 2em; padding-top: 1em;
} #common-header #logo a {
	display: inline-block;
}
#common-footer {
	position:fixed;
	left: 0; bottom:0;
	padding: 2em 0;
	background-color:rgba(0,0,0,0.6);
	width:100%;
	font-size: 0.8em;
	color:#999;
} #common-footer a {
	color:#FFF;
} #common-footer small {
	margin-left: 2em; margin-right: auto;
	display: inline-block;
} #common-footer small .copy-mark {
	font-size: 1.8em;
	vertical-align: -0.16em;
} #common-footer nav {
	margin-left: auto; margin-right: 2em;
	display: inline-block;
}

/* contents */
main {
	position: relative;
	width: 100%;
	min-height: 100vh; height: auto;
	display: block;
}
.container {
  position: absolute;
  left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
  width: 100%;
  min-height: 100%; height: auto;
  display: table;
} .contents {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
} .contents h2 {
	text-align: center;
	letter-spacing: 0.5em;
} .contents p { padding: 2em; }

/* other class */

.flexbox { display: flex; }
.grade-linear {
    position: relative;
	margin: 0 auto;	padding: 0 10em;
    text-align: center;
	text-shadow: 0 1px 1px #000;
	display: table;
	padding-right: 9.4em; /* テキストの字間を広げたための調整 */
} .grade-linear::before, .grade-linear::after {
	content: "";
    position: absolute;
	top: 50%;
    width: 9.5em; height: 2px;
    margin: 0; margin-top: -1px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
} .grade-linear::before {
	left: 0;
    text-align: center;
    background-image: -webkit-linear-gradient(left, transparent, #FFF 100%, #FFF 0%, transparent);
    background-image: linear-gradient(to right, transparent, #FFF 100%, #FFF 0%, transparent);
} .grade-linear::after {
	right: 0;
    text-align: center;
    background-image: -webkit-linear-gradient(left, transparent, #FFF 0%, #FFF 0%, transparent);
    background-image: linear-gradient(to right, transparent, #FFF 0%, #FFF 0%, transparent);
}
