@charset "UTF-8";
// Global SCSS
/* Global CSS */
// theme color : #B77E75
// ::::: SCSS 記述ルール :::::
// ・複数行コメント（/*…*/）は出力されるが単行コメント（//…）は出力されない
// ・ネストはなるべく「2階層」まで
// ・ソース中に日本語（全角）の記述がないと「@charset・・・」が出力されない
// 　コメントやフォントファミリー指定で日本語（全角）を記述すれば解決

@import "_setup";

/* TAG */
html, body { margin: 0; padding: 0; }
body {
 font-family: Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
 font-size: calc(125% + 5 * (100vw - 1920px) / 1920);
 color: #333;
 background-color: #FFF;
 word-wrap: break-word;
 text-shadow: 0 1px 1px #FFF;
 @include prefix_set(hyphens, none);
}
h1, h2, h3 {
 color: $main-color;
}
p { margin: 0 1em; line-height:1.8em; @extend .just, .padding-tb; }
dl { @extend .padding-tb; line-height: 1.6em; }

ul, ol { @extend dl; list-style: none; }
a { color: $acnt-color; text-decoration:none; outline:none; }
a:hover { color: $sub2-color; }
blockquote {
 position: relative;
 margin: 0 2em; padding: 0 1em;
 font-size: 0.9em;
 display: table;
 p { line-height: 1.4em; }
 &::before, &::after {
  position: absolute;
  font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
  font-size: 3.2em;
  color: #999;
 }
 &::before { top: 0; left: 0; margin-top: 0.15em; content: "“"; }
 &::after { bottom: 0; right: 0; margin-bottom: -0.4em; content: "”"; }
}
section {
 padding: 2em;
 h3,h4,h5,h6 { margin: 1em 0 0.5em; }
 h2 { font-size: 1.4em; }
 h3 { font-size: 1.2em; }
 h4 { font-size: 1em; }
 h5 { font-size: .9em; }
 h6 { font-size: .8em; }
 p { padding: 0 1em .5em; line-height: 1.6em; }
 blockquote p { line-height: 1.4em; }
}
aside {
 margin: 1em 2em 2em;
 font-size: 0.9em;
}

/* Common ID & Class */

#wrap {}
#common-header {
	position: relative;
	width: 100%;
	background-color: rgba(255,255,255,.9);
	z-index: 1;
 @include prefix_set(transition, all 1s);
	#logo {
		padding: 1em;
		a {
			display: inline-block;
		}
		svg {
			min-width: 240px;
   width: auto; width: calc(100vw / 3);
   max-width: 640px;
			height: auto;
			path {
    fill: $main-color;
    stroke: none;
    opacity: 0.8;
   }
			path#p1, path#p2 {
				fill: $sub1-color;
    opacity: 1;
    @include prefix_set(transition, all 1s);
			}
		}
	}
}
#common-footer {
	padding: 3.5vh 6.25%;
	background-color:rgba(0,0,0,0.75);
	width:87.5%;
	font-size: 0.6em;
	color: $footer-color;
	a { color: $footer-a-color; }
	small {
  text-shadow: 0 1px 1px #000;
  display: inline-block;
	}
	nav {
  margin-left: 1em;
  padding: 0 1em;
  border-left: 1px solid $footer-color;
  border-right: 1px solid $footer-color;
		display: inline-block;
		ul li {
   margin: 0 0.25em;
			display: inline-block;
		}
	}
	.copy-mark {
		font-size: 1.8em;
		vertical-align: -0.16em;
	}
	.sns a.fa::before { margin-right: 0.2em; @extend .copy-mark; }
}

/* contents */

main {
	display: block;
 dl, ul, ol { padding: 0.5em 1em; }
	.container {
		position: relative;
		margin:0 auto;
  min-width: 960px; width: 75%;
  background-color: rgba(255,255,255,.9); color:#333;
  border-left:6px solid $sub1-color;
		.contents { width:70%; }
		.side {
			width:30%; color:#333; background-color: rgba($sub1-color,.25);
			a { color: $acnt-color;
				&:hover { color: $sub2-color; }
			}
		}
	}
}

/* other class */

.flexbox { display: flex; }
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top:0;
}
.padding-tb { padding: .5em 0; }
.center {
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}
.just {
 align-items: start;
 justify-items: left;
 flex-direction: column;
 text-align: justify;
 word-break: break-all;
 @include prefix_set(hyphens, auto);
}
