@charset "utf-8";
/* CSS Document */

/*   main color : #EE0077 (227, 0, 127) */
/*    sub color : #EE6600 (234, 96, 0) */
/* accent color : #66BB55 (102, 187, 85) */
.main-color   { color: #E07; }
.sub-color    { color: #E60; }
.accent-color { color: #6B5; }

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

* { margin: 0; padding: 0; }

html, body {}
body {
 color:#333;
 word-wrap: break-word;
 -webkit-hyphens: auto;
    -moz-hyphens: auto;
         hyphens: auto;
 font-family: "Oswald", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.wrap { width: 76%; max-width: 1024px; margin: 0 auto; }
#cont .wrap { max-width: 960px; }

h1 { font-size: 2em; margin-bottom: 1em; }
h1 span { font-size: 0.75em; }
h2 .big { font-size: 2em; }
h3 .big { font-size: 1.4em; }

p { line-height: 1.6em; }

a, img { outline:none; }
a {
	color:#333;
	text-decoration: none;
}
a:hover {
 color:#E60;
}
img {
	height: auto;
	max-width: 100%;
}
ul, ol { list-style: none; }
em { font-style: normal; padding: 0 0.25em; }
.ak { color: #F00; }

::before, ::after {
	position:relative; top:-0.05em;
	line-height:1rem;
	display:inline-block;
	vertical-align: text-bottom;
	alignment-baseline:baseline;
}
.min-jp { font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif"; }

#top { height: 0; font-size: 0; line-height: 0; }
#top header {}

/* contents block */

#main.toppage {
	background-image: url(../img/top/top-base.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#main #header h1 {
 text-align: center;
}
#main #header h1 a img {
 width: 75%;
}

 /* contents breadcrumb */
#main .breadcrumb,
#main .breadcrumb ::before { font-size:0.8em; line-height:1.1em; color:#999; }
#main .breadcrumb ul { border-bottom:1px dotted #777; }
#main .breadcrumb ul li { font-size:0.8em; padding-right:0.5em; display:inline-block; }
 /* /contents breadcrumb */

main { position: relative; }
section {}
section a { border-bottom: 1px dashed #03095B; }
section a:hover { border-color: #EA5514; }
article {}
aside {}
#contents aside h3 {}

#main #headline {
	position: relative;
	padding: 0;
	width:76%; height: 100%;
	background-image: url(../img/top/top-img01.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#headline header, #headline #catch-lead,
#headline #date-place, #headline #feature {
	position: fixed;
	top: 0;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: auto;
	height: 100%;
	text-indent: -9999px;
}
#headline header {
	background-image: url(../img/top/catch.png);
}
#headline #catch-lead {
	background-image: url(../img/top/top-img03.png);
}
#headline #detail {}
#headline #date-place {
	position: fixed;
	background-image: url(../img/top/top-img02.png);
	text-align: center;
	font-size: 140%;
}
#headline #feature {
	background-image: url(../img/top/okayama-city.png);
}
#headline #feature ul {}
#headline #feature li {
	display: inline-block;
	margin: 0 0.5em; padding: 1.8em 1em;
	border: 0.2em solid #409AD6;
	width: auto; max-width: 18%;
	font-size: 1.4em; font-weight: bold;
	color: #409AD6;
	text-align: center;
	vertical-align: middle;
}
#headline #feature li:first-child { margin-left:0; }
#headline #feature li:last-child {
	margin:0; padding: 0;
	margin-left: 1em; padding-left: 1em;
	border: none;
	font-size: 1em; font-weight: normal;
	text-align: justify; line-height: 1.2em;
}

#main main  { background-color: rgba(255,255,255,.8); }
#main main section {}

#main main section h2 {
 padding-bottom: 0.25em;
 font-size: 1.6em; color: #E07;
 text-align: center;
 border-bottom: 2px solid #E07;
}
#main main nav { padding: 2em 3em; text-align: center; }
#main main nav.wt { background-color: #FFF; }
#main main nav a:hover img { opacity: 0.8; }

#main #date {
	/*background-image: -webkit-linear-gradient(bottom, transparent, #FFF 0%, #FFF 50%, transparent);
	background-image: linear-gradient(to top, transparent, #FFF 0%, #FFF 50%, transparent);*/
}

#main #lead {
	margin: 0 1em; padding-top: 1em;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
	font-size: 1.2em; text-align: center;
	border-top: 1px solid #E07; border-bottom: 1px solid #E07;
}
#main #lead p {
	padding-bottom: 1em;
}

#main #schedule { padding-top: 2em; background-color: #FFF; }
#main #schedule h2 { font-size: 1.6em; }
#main #schedule h3 { margin-top: 1.5em; margin-bottom: 1.5em; }
#main #schedule p { margin-left: 1em; line-height: 1.8em; }
#main #schedule .rollover { background-color:#FFF; color: #409AD6; font-weight: bold; }

#main #about dl dt {
	margin-bottom: 1em;
	font-weight: bold;
	line-height: 1.2em;
}
#main #about dl dd { margin-bottom: 1em; line-height: 1.4em; }
#main #about dl dd:last-child { margin-bottom: 0; }

#main #about {
	padding: 2em 0;
	background-color: #FFF6E9;
}
#main #about dl {
	flex: 1;
	padding: 0 2em;
	border-right: 1px solid #E07;
	text-align: center;
}
#main #about dl:last-child { border: none; }
#main #about dl dt {}
#main #about dl dd { margin-bottom: 1em; line-height: 1.4em; }
#main #about dl dd#add { font-size: 0.8em; }

#main small { font-size: 0.8em; }
#cont #main { padding-top: 2em; }
/* /contents block */

/* footer block */
#footer {
	position: relative;
	background-color: #CCC;
	padding: 2em 0;
	font-size: 0.9em;
}
/* /footer block */

/* global navi block */
#global {
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	color: #FFF;
	font-size: 1em; line-height: 1em;
}
#global header {
	padding: 0.75em;
	width: 50%;
	background-image: -webkit-linear-gradient(left, transparent, #6B5 0%, #6B5 25%, transparent);
	background-image: linear-gradient(to right, transparent, #6B5 0%, #6B5 25%, transparent);
}
#global #global-subtitle { display: block; opacity: 1; }
#global #global-title { display: none; opacity: 0; }
#global nav {
	position: absolute;
	right: 20px; top: 0;
	color: #000;
}
#global-subtitle a,
#global-title a,
#global-subtitle a:hover,
#global-title a:hover {
 color: #FFF;
}
/* (#global) toggle navi block */
.toggle, .toggle label, .toggle label:before{
	position: absolute;
	width:50px; height:50px;
} .toggle {
	border: 1px solid #FFF;
	border-top: none; border-left: none;
	background-color: rgba(0,0,0,0.6);
	z-index: 9999;
}
.toggle ul {
	position: absolute;
	right:0; top:4em;
	width:auto; min-width:120px;
	background-color:rgba(255,255,255,0.8);
	border: 4px solid #CCC;
	opacity:0;
} .toggle ul li {
	position:relative;
	white-space: nowrap; word-wrap: normal;
} .toggle ul li a {
	padding:1em; padding-left:1.2em;
	font-size: 1.2em; text-align:left;
	display:block;
	-moz-transition:all .4s;
	-webkit-transition:all .4s;
	-o-transition:all .4s;
	-ms-transition:all .4s;
	transition:all .4s;
} .toggle ul li a:hover {
	background-color:rgba(227,0,127,.5); color:#FFF;
} .toggle ul li a::before {
	content: "";
	width: .5em; height: .5em;
	margin-right: .5em;
	background-color: #6B5;
	transform: rotate(45deg);
    vertical-align: 2px;
	display: inline-block;
} .toggle ul li a:hover::before{
	background-color: #FFF;
}
 /* toggle animation */
.toggle label {
	position:relative;
	display:block; overflow: hidden;
	cursor: pointer;
} .toggle label span {
	position: absolute;
	left: 13px;
	background-color:#CCC;
	width: 24px; height: 2px;
	display: block;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
} .toggle label span:first-child { top:14px; }
.toggle label span:nth-child(2) { top:50%; margin-top:-1px; }
.toggle label span:last-child { bottom:14px; }

.toggle input[type="checkbox"].switch:checked ~ label span:first-child {
	-webkit-transform: translateY(10px) rotate(-45deg);
	-moz-transform: translateY(10px) rotate(-45deg);
	-ms-transform: translateY(10px) rotate(-45deg);
	transform: translateY(10px) rotate(-45deg);
} .toggle input[type="checkbox"].switch:checked ~ label span:nth-child(2) { opacity: 0; }
.toggle input[type="checkbox"].switch:checked ~ label span:last-child {
	-webkit-transform: translateY(-10px) rotate(45deg);
	-moz-transform: translateY(-10px) rotate(45deg);
	-ms-transform: translateY(-10px) rotate(45deg);
	transform: translateY(-10px) rotate(45deg);
} .toggle input[type="checkbox"].switch { display: none; }
.toggle input[type="checkbox"].switch + ul {
	height: 0;
	overflow: hidden; opacity:0;
} .toggle input[type="checkbox"].switch:checked + ul.menu1 {
	height:auto;
	-moz-transition:all .4s;
	-webkit-transition:all .4s;
	-o-transition:all .4s;
	-ms-transition:all .4s;
	transition:all .4s;
	opacity:1;
}
 /* /toggle animation */
/* /toggle navi block */

/* /global navi block */

/* pagetop navi */
#pagetop {
	position: fixed;
	right: 20px; bottom: 0;
	border: 2px solid #CCC; border-bottom: none;
	display: none;
	opacity: 0;
} #pagetop a {
	background-color: #000; color: #FFF;
	padding: 1.6em 1em;
	display: block;
} #pagetop a:hover { background-color: #E07; }
/* /pagetop navi */

/* other class */

.center { text-align: center; }
.diamond { margin-left: 1em; }
.diamond::before {
	margin-left: -1em;
	font-size: 1em;	line-height: 1em;
	content: "\2756";
	vertical-align: 0;
} .diamond.sub::before { color: #409AD6; }

.rollover { padding: 0.25em; background-color:#409AD6; color: #FFF; }

.ems::before {
	margin-left: -1em;
	content: "※";
	font-size: 1.2em;
	vertical-align: 0;
	color: #F00;
}

.flexbox {
	display: -webkit-flex; display:flex;
	-webkit-flex-direction: column; flex-direction: column;
} .flexbox div, .flexbox section, .flexbox article,
.flexbox p, .flexbox ul, .flexbox dl { overflow-y:auto; }

.fade{
 -moz-transition:all .4s;
 -webkit-transition:all .4s;
 -o-transition:all .4s;
 -ms-transition:all .4s;
 transition:all .4s;
}
.overflow {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.mobile { display:block; }
.pc { display:none; }
.sample-head { font-size:0.6em; margin-bottom:0.5em; }
.font-sample { font-size:36px; }
.font-caption { font-size:0.8em; margin-top:0.5em; }

.disp-non { display: none; }

.obi {
	position: relative;
	width: 100%; height: 2em;
	margin: 1em 0; padding: 0.275em 0;
	background-color: #03095B; color: #FFF;
    font-size: 1.6em; line-height: 2em;
	text-align: center; vertical-align: middle;
	box-sizing: border-box;
	display: inline-block;
} .obi h2, .obi h3 {
	margin: 0; padding: 0 1.4em;
	border-top: dashed 1px #409AD6; border-bottom: dashed 1px #409AD6;
	line-height: 1.4em;
	vertical-align: middle;
} .obi .letter-spacing { letter-spacing: 1em; margin-right: -1em; }
.obi:before, .obi:after{
	position: absolute;
	content: "";
	width: 0; height: 0;
} .obi:before{
	left: 0; top: 0;
	border-width: 1em 0 1em .75em;
	border-color: transparent transparent transparent #FFF;
	border-style: solid;
} .obi:after{
	right: 0; top: 0;
	border-width: 1em .75em 1em 0;
	border-color: transparent #FFF transparent transparent;
	border-style: solid;
}
.obi-sky { background-color: #6B5; color: #FFF; }
.obi-org { background-color: #E60; color: #FFF; }
.obi-sky h2, .obi-sky h3 { border-top: dashed 1px #FFF; border-bottom: dashed 1px #FFF; }
.obi-org h2, .obi-org h3 { border-top: dashed 1px #FFF; border-bottom: dashed 1px #FFF; }
#about .obi:before{	border-color: transparent transparent transparent #FFF6E9; }
#about .obi:after{	border-color: transparent #FFF6E9 transparent transparent; }
/* /other class */

/*
レスポンシブ設定
《ブレークポイント（ｗ）》
		2,560px - 4k +
		1,440px - PC +
		1,024px - Laptop & iPad Landscape +
		 (773px - Nexus 6S Landscape + )
		  768px - Tablet & Mobile Landscape +
	  (736px - iPhone 6 Plus Landscape + )
	  (667px - iPhone 6 Landscape + )
    435px - Mobile L +
    375px - Mobile M +
    320px - Mobile S +
- TOP DOWN -（以下）*/
@media screen and (max-width: 1440px) { /* - PC */ }
@media screen and (max-width: 1024px) { /* - Tablet Landscape & Laptop PC */
 #side { display:none; }
}
@media screen and (max-width: 768px) { /* Mobile Landscape - Tablet */ 
 html, body { width: 100%; margin: 0; padding: 0; overflow-x: hidden; }
 #cont .wrap { width: auto; max-width: 100%; }
 #player, #player_cover, #loader, #overlay {
  display:none;
 }
 #wrap { overflow-x: hidden; }
 header#common-header { position:relative; }
 #contents {
  position: static;
  width: auto; height: auto;
  left:0; top:0;
  margin:0; margin-top:2em;
 }
 #contents .flexbox {
  flex-direction: column-reverse;
 }
 #topics #feedText { min-height:160px; height:auto; max-height:245px; overflow-y:auto; }
 #topics #feedText li { margin-bottom:2em; }
	footer#common-footer {
		position: static;
		flex-direction:column-reverse;
	} footer#common-footer ul li { margin-bottom: 1.8em; }
	#main #schedule-map { font-size: 1em; line-height: 1.6em; }
	#global header {
		padding: 0.5em 0;
		width: 100%;
		background-color: rgba(102,187,85,.8);
		font-size: 0.75em;
	}
}
@media screen and (max-width: 435px) { /* - Mobile */ }
/*
+ BOTTOM UP +（以上）*/
@media screen and (min-width: 436px) { /* Mobile + */ }
@media screen and (min-width: 769px) { /* Mobile Landscape & Tablet + */
	.flexbox {
		-webkit-flex-direction: row; flex-direction: row;
		-webkit-flex-wrap: wrap; flex-wrap: wrap;
		-webkit-justify-content: space-around; justify-content: space-around;
	}
	.mobile { display:none; } .pc { display:block; }
	#copy .pc { display:inline; }
}
@media screen and (min-width: 1025px) { /* Tablet Landscape & Laptop PC + */
 #contents .flexbox section { padding:2em; }
}
@media screen and (min-width: 1441px) { /* PC & others */ }
/* /レスポンシブ設定 */
