@charset "UTF-8";
/* Global CSS */

html, body { /* theme-color: #5533BB; */ }

a { text-decoration:none; outline:none; }

#wrap {
	position: relative;
  width: 100%;
  min-height: 100%;
	overflow-x: hidden;
}

#common-header {
	position:fixed;
	left: 0; top: 0;
	width: 100%;
	background: -webkit-linear-gradient(
		bottom,
    transparent,
    #000 100%,
    #000 0%,
    transparent
  );
  background-image: linear-gradient(
    to top,
    transparent,
    #000 100%,
    #000 0%,
    transparent
  );
	z-index: 1;
	opacity: 0.9;
	-webkit-transition: all 1s; -moz-transition: all 1s;
	-o-transition: all 1s; -ms-transition: all 1s;
	transition: all 1s;
} #common-header #logo {
	padding: 2em; padding-top: 1em;
} #common-header #logo a {
	display: inline-block;
} #common-header #logo svg {
	min-width: 4em; width: 8vw; max-width: 128px;
	height: auto;
} #logo svg path#ar { fill:#bf607f;
} #logo svg path#a1, #logo svg path#a2, #logo svg path#a3, #logo svg path#a4 { fill:#FFF;
	-webkit-transition: all 1s; -moz-transition: all 1s;
	-o-transition: all 1s; -ms-transition: all 1s;
	transition: all 1s;
} #logo svg path#a1 { opacity: 0.9;
} #logo svg path#a2 { opacity: 0.75;
} #logo svg path#a3 { opacity: 0.6;
} #logo svg path#a4 { opacity: 0.45; }
#common-footer {
	position:fixed;
	left: 0; bottom:0;
	padding: 3.5vw 6.25%;
	background-color:rgba(0,0,0,0.6);
	width:87.5%;
	font-size: 0.8em;
	color:#999;
} #common-footer a {
	color:#FFF;
} #common-footer small {
	margin-left: 40px; margin-right: auto;
	display: inline-block;
} #common-footer small .copy-mark,
#common-footer .sns a.fa::before {
	font-size: 1.8em;
	vertical-align: -0.16em;
} #common-footer nav {
	margin-left: auto; margin-right: 40px;
	display: inline-block;
} #common-footer nav ul li {
	display: inline-block;
}

/* contents */
main {
	display: block;
} main .container {
	background-image: url(../img/bg/ruler.svg);
	background-position: left top;
	background-repeat: repeat;
	background-size: 3200px auto;
}
.container {
	position: relative;
	width: 100%;
	min-height: 100vh; height: auto;
} .container#sec02 {
	background-color: #FFF;
	color: #333;
}
.inner {
  position: absolute;
  left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
  width: 100%;
  min-height: 100%; height: 100vh;
  display: table;
} .contents {
	max-width: 100vw;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
} .contents h2 {
	text-align: center;
	letter-spacing: 0.5em;
} .contents p { padding: 2em; }

.golden {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
} .golden.ratio {
	background-image: url(../img/bg/golden-ratio.svg);
} .golden.five-star {
	background-image: url(../img/bg/five-star.svg);
} .golden.spiral {
	background-image: url(../img/bg/golden-spiral.svg);
} .golden.spiral.rotate90 {
	background-image: url(../img/bg/golden-spiral_90.svg);
} .golden.spiral.rotate-90 {
	background-image: url(../img/bg/golden-spiral-90.svg);
} .golden.spiral.rotate180 {
	background-image: url(../img/bg/golden-spiral_180.svg);
} .golden.spiral.reflect {
	background-image: url(../img/bg/golden-spiral_rf.svg);
} .golden.spiral.reflect.rotate90 {
	background-image: url(../img/bg/golden-spiral_90rf.svg);
} .golden.spiral.reflect.rotate-90 {
	background-image: url(../img/bg/golden-spiral-90rf.svg);
} .golden.spiral.reflect.rotate180 {
	background-image: url(../img/bg/golden-spiral_180rf.svg);
}
/* other class */

.flexbox { display: flex; }
.grade-linear {
	position: relative;
	margin: 0 auto;	padding: 0 10em;
	text-align: center;
	text-shadow: 0 1px 1px #FFF;
	display: table;
	padding-right: 9.4em; /* テキストの字間を広げたための調整 */
} .grade-linear.wt {
	text-shadow: 0 1px 1px #000;
} .grade-linear::before, .grade-linear::after {
	content: "";
    position: absolute;
	top: 50%;
    width: 9.5em; height: 2px;
    margin: 0; margin-top: -1px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
} .grade-linear::before {
	left: 0;
    text-align: center;
    background-image: -webkit-linear-gradient(left, transparent, #333 100%, #333 0%, transparent);
    background-image: linear-gradient(to right, transparent, #333 100%, #333 0%, transparent);
} .grade-linear::after {
	right: 0;
    text-align: center;
    background-image: -webkit-linear-gradient(left, transparent, #333 0%, #333 0%, transparent);
    background-image: linear-gradient(to right, transparent, #333 0%, #333 0%, transparent);
} .grade-linear.wt::before {
    text-align: center;
    background-image: -webkit-linear-gradient(left, transparent, #FFF 100%, #FFF 0%, transparent);
    background-image: linear-gradient(to right, transparent, #FFF 100%, #FFF 0%, transparent);
} .grade-linear.wt::after {
    text-align: center;
    background-image: -webkit-linear-gradient(left, transparent, #FFF 0%, #FFF 0%, transparent);
    background-image: linear-gradient(to right, transparent, #FFF 0%, #FFF 0%, transparent);
}
