@charset "UTF-8";
/* Global CSS */
/* Universal selector */
* {
  margin: 0;
  padding: 0; }

/* TAG */
html, body {
  margin: 0;
  padding: 0; }

body {
  color: #333;
  background-color: #FFF;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"; }

h1, h2, h3 {
  color: #B77E75; }

p {
  padding: 0.5em 1em;
  line-height: 1.8em;
  text-align: justify; }

p {
  padding: 0.5em 1em;
  line-height: 1.8em;
  text-align: justify; }

ul, ol {
  padding-bottom: 1em;
  list-style: none;
  line-height: 1.6em; }

dl {
  padding-bottom: 1em;
  line-height: 1.6em; }

a {
  color: #79865E;
  text-decoration: none;
  outline: none; }

a:hover {
  color: #B170A2; }

section {
  padding: 2em;
  border-left: 6px solid #B47388; }

aside {
  padding: 1em;
  font-weight: bold;
  line-height: 2em; }

/* Common ID & Class */
#common-header {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s; }
  #common-header #logo {
    padding: 1em; }
    #common-header #logo a {
      display: inline-block; }
    #common-header #logo svg {
      min-width: 64px;
      width: 10vw;
      max-width: 128px;
      height: auto; }
      #common-header #logo svg path#ar {
        fill: #bf607f; }
      #common-header #logo svg path#a1, #common-header #logo svg path#a2, #common-header #logo svg path#a3, #common-header #logo svg path#a4 {
        fill: #000;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -ms-transition: all 1s;
        transition: all 1s; }
      #common-header #logo svg path#a1 {
        opacity: 0.8; }
      #common-header #logo svg path#a2 {
        opacity: 0.6; }
      #common-header #logo svg path#a3 {
        opacity: 1; }
      #common-header #logo svg path#a4 {
        opacity: 0.6; }
      #common-header #logo svg path#ar {
        opacity: 1; }

#common-footer {
  padding: 3.5vw 6.25%;
  background-color: rgba(0, 0, 0, 0.75);
  width: 87.5%;
  font-size: 0.8em;
  color: #999; }
  #common-footer a {
    color: #FFF; }
  #common-footer small {
    margin-left: 40px;
    margin-right: auto;
    display: inline-block; }
  #common-footer nav {
    margin-left: auto;
    margin-right: 40px;
    display: inline-block; }
    #common-footer nav ul li {
      display: inline-block; }
  #common-footer .copy-mark, #common-footer .sns a.fa::before {
    font-size: 1.8em;
    vertical-align: -0.16em; }

/* contents */
main {
  display: block; }
  main .container {
    position: relative;
    margin: 0 auto;
    min-width: 950px;
    width: 74.2%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333; }
    main .container .contents {
      width: 70%; }
    main .container .side {
      width: 30%;
      color: #333;
      background-color: rgba(180, 115, 136, 0.25); }
      main .container .side a {
        color: #79865E; }
        main .container .side a:hover {
          color: #B170A2; }

/* other class */
.flexbox {
  display: flex; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

.center {
  align-item: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }
